name: Java CI
on: [push]
jobs:
  build:
    strategy:
      matrix:
        java-version: [ 8, 11, 16, 17 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      - name: Maven Compils Matrix
        env:
          java-version: ${{ matrix.java-version }}
        run: mvn package
      - uses: actions/upload-artifact@v3
        with:
          name: new-artifact-saved
          path: /home/runner/work/testCI2/testCI2/target/java-getting-started-1.0.jar